body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #9dcfcf42;
}

#container {
    top: 30px;
    width: 60%;
    height: 93%;
    z-index: 0;
    position: absolute;
}

#trade {
    background-color: #9dcfcf00;
    padding-left:30px;
    right: auto;
    width: auto;
    height: 60%;
    display: block;
    z-index: 2;
    /* background: #F8F8F8; */
    position: relative;
    /* overflow:auto; */
}
#trade2 {
    padding-left:20px;
    right: auto;
    width: auto;
    height: 60%;
    display: block;
    z-index: 2;
    /* background: #f8f8f800; */
    position: relative;
    /* overflow:auto; */
}

#text-wrap trade {
    background-color: #ffffff00;

    width: 30%;
    height: 93%;
    left: 940px;
    top: 90px;
    position: absolute;
    z-index: 99;
}
#text-wrap trade2 {
    width: 40%;
    height: 93%;
    left: 940px;
    top: 90px;
    position: absolute;
    z-index: 99;
}


#pagecontent {
    background-color: #9dcfcf00;

    width: 100%;
    height: 1%;
    z-index: 1;
}

#Options {
    left: 940px;
    top: 30px;
    position: relative;
    z-index: 1;
}


#text-wrap {
    top: 30px;
    right: 40px;
    position: absolute;
    float: right;
    width: 35%;
    height: 95%;
    color: #000;
    background-color: #9dcfcf00;
    ;
    overflow: auto;
    z-index: 2;
}

#text-wrap p {
    border-style: solid;
    /* border-color: transparent transparent transparent #003866; */
    border-width: 0 4px 0 8px;
    /* color: #000; */
    background-color: #9dcfcf00;
    ;
    z-index: 2;
    text-align: justify;
    padding: 10px;
}


#legend img {
    left: 15px;
    top: 620px;
    width: 15%;
    /* height: 4%;  */
    z-index: 2;
    position: relative;
    opacity: 10
}


#tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    right: 0;
    top: 0;
    width: 30%;
    height: auto;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "icon title title"
    ;

    background-color: rgba(252, 255, 255, 0.595);
    border: 1px solid #888;
}

.title {
    grid-area: title;
    font-weight: bold;
    margin: 1px;
}

.item-a {
    grid-area: item-a;
    margin: 4px;
}

.item-b {
    grid-area: item-b;
    margin: 4px;
}

#item-c {
    grid-area: item-c;
    margin: 4px;
    height: 300px;

}

.icon {
    grid-area: icon;
    margin: 4px;
    max-width: 80%;
    height: auto;
    place-self: left;
}