.section-container {
    text-align: right;
    padding-top: 8%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2%;
    /* background-color: #3E5D7A; */
    padding-bottom: 8%;
}

.pg2-container {
    text-align: left;
    /* padding-top: 2%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    /* column-gap: 2%; */
    /* background-color:#293E51; */
    background-image: linear-gradient(rgba(27, 41, 54, 1),rgb(55, 82, 109, 1));
    padding-bottom: 0;
}

.section-graphics {
    padding: 0 5%;
}

.pg2-graphics {
    padding: 30px 0px 3px 120px;
}

.pg2-2-graphics {
    /* margin-bottom: 1%; */
    padding: 0px 0px 0px 0px;
}

.map {
    width: 100%;
    height: 60vh;
    border: none;
}

.paragraph-description {
    background-color: rgba(255, 255, 255, 0.166);
    text-align: left;
    padding: 1%;
}

.section-text {
    position: absolute;
    right: 5%;
    left: 70%;
}

.section2-text {
    position: absolute;
    text-align: right;
    right: 10%;
    left: 60%;
    margin-top: 35%; 
}

.pg2-text {
    position: absolute;
    right: 50%;
    left: 4%;
    background-color: rgba(255, 255, 255, 0.166);
    padding:2%;
}

.paragraph-main,
.paragraph-main-scroll {
    background-color: rgba(255, 255, 255, 0.166);
    text-align: right;
    padding: 3%;
    line-height: 1.5;
    font-size: medium;
    font-weight: 400;
    font-size: 1.5;
    overflow-y: auto;
    /* AG: setting the max height to force a scrollbar */
    max-height: 58vh;
}

.pg2-main {
    padding: 0px 0px 0px 0px;
}

.pg2-2-main {
    background-color: rgba(255, 255, 255, 0.166);
    text-align: right;
    padding: 2%; 
    line-height: 1.5;
    font-size: medium;
    font-weight: 400;
    font-size: 1.5;
    overflow-y: visible;
    /* AG: setting the max height to force a scrollbar */
    /* max-height: 100px; */
}

h2 {
    text-transform: none;
    font-size: 2;
    margin-bottom: 5px;
}