.indus-pie-container {
    text-align: right;
    padding-top: 0%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2%;
    /* background-color: #3E5D7A; */
    /* padding-bottom: 8%; */
}

.indus-pie-graphics {
    padding: 0 5%;
}

.indus-pie-text {
    position: absolute;
    right: 5%;
    left: 60%;
    margin-top: 5%;
    color: white;
}

.indus-pie-main,
.indus-pie-main-scroll {
    background-color: rgba(255, 255, 255, 0.166);
    text-align: right;
    /* padding: 3%; */
    line-height: 1.5;
    font-size: medium;
    font-weight: 400;
    font-size: 1.5;
    overflow-y: auto;
    /* AG: setting the max height to force a scrollbar */
    max-height: 58vh;
    width: 100%;
    padding:5%;
}

    /*barplot*/
.indus-barplot-container {
    text-align: right;
    padding-top: 0%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2%;
    /* background-color: #3E5D7A; */
    /* padding-bottom: 8%; */
}

.indus-barplot-graphics {
    padding: 0 5%;
}

.indus-barplot-text {
    position: absolute;
    right: 5%;
    left: 60%;
    margin-top: 5%;
    color: white;
}

.indus-barplot-main,
.indus-barplot-main-scroll {
    background-color: rgba(255, 255, 255, 0.166);
    text-align: right;
    /* padding: 3%; */
    line-height: 1.5;
    font-size: medium;
    font-weight: 400;
    font-size: 1.5;
    overflow-y: auto;
    /* AG: setting the max height to force a scrollbar */
    max-height: 58vh;
    width: 100%;
    padding:5%;
}

    /*investment*/
    .indus-invest-container {
        text-align: middle;
        padding-top: 2%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2%;
        height:auto;
        /* background-color: #3E5D7A; */
        /* padding-bottom: 8%; */
    }
    
    .indus-invest-graphics {
        padding: 0 5%;
    }
    
    .indus-invest-text {
        position: absolute;
        right: 5%;
        left: 60%;
        margin-top: 0%;
        color: white;
    }
    
    .indus-invest-main,
    .indus-invest-main-scroll {
        background-color: rgba(255, 255, 255, 0.166);
        text-align: right;
        /* padding: 3%; */
        line-height: 1.5;
        font-size: medium;
        font-weight: 400;
        font-size: 1.5;
        padding: 5%;
        overflow-y: auto;
        /* AG: setting the max height to force a scrollbar */
        max-height: 58vh;
        width: 100%;
    }
